<a href="https://colab.research.google.com/github/souravsl/project/blob/main/simulator_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df = pd.read_csv('training_data.csv')
df.head(5)

,Label,SMILES,BalabanJ,BertzCT,Chi0,Chi0n,Chi0v,Chi1,Chi1n,Chi1v,...,fr_sulfide,fr_sulfonamd,fr_sulfone,fr_term_acetylene,fr_tetrazole,fr_thiazole,fr_thiocyan,fr_thiophene,fr_unbrch_alkane,fr_urea
0,0,COC(=O)N(C)c1c(N)nc(nc1N)c2nn(Cc3ccccc3F)c4ncc...,1.821,1266.407,22.121,16.781,16.781,14.901,9.203,9.203,...,0,0,0,0,0,0,0,0,0,0
1,0,C[C@H](N(O)C(=O)N)c1cc2ccccc2s1,2.363,490.434,11.707,8.752,9.569,7.592,4.854,5.670,...,0,0,0,0,0,0,0,1,0,1
2,0,C[N+](C)(C)CC(=O)[O-],3.551,93.092,6.784,5.471,5.471,3.417,2.420,2.420,...,0,0,0,0,0,0,0,0,0,0
3,1,CC(C)n1c(\C=C\[C@H](O)C[C@H](O)CC(=O)O)c(c2ccc...,2.076,1053.003,21.836,16.995,16.995,14.274,9.926,9.926,...,0,0,0,0,0,0,0,0,0,0
4,1,C\C(=C(\C#N)/C(=O)Nc1ccc(cc1)C(F)(F)F)\O,2.888,549.823,14.629,9.746,9.746,8.752,5.040,5.040,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df["Label"].value_counts()

Label
0    359
1    118
Name: count, dtype: int64

In [6]:
columns = df.columns
print(columns.value_counts)

<bound method IndexOpsMixin.value_counts of Index(['Label', 'SMILES', 'BalabanJ', 'BertzCT', 'Chi0', 'Chi0n', 'Chi0v',
       'Chi1', 'Chi1n', 'Chi1v',
       ...
       'fr_sulfide', 'fr_sulfonamd', 'fr_sulfone', 'fr_term_acetylene',
       'fr_tetrazole', 'fr_thiazole', 'fr_thiocyan', 'fr_thiophene',
       'fr_unbrch_alkane', 'fr_urea'],
      dtype='object', length=198)>

In [9]:
rows = len(df)+1
print(rows)

478

In [13]:
class RowDeletionSimulator:
  def __init__(self,df,target_col):
    self.df = df.copy()
    self.target_col = target_col

  def stratified(self, delete_ratio=0.2):
      result = []
      for cls,group in self.df.groupby(self.target_col):
        keep_n = int(len(group)*(1-delete_ratio))
        result.append(group.sample(keep_n))
      return pd.concat(result).reset_index(drop=True)

  def skew(self, skew_class, target_ratio=None, delete_ratio=None):
        """
        Skew the dataset by removing rows from skew_class.

        You can use either:
        - target_ratio: desired minority:majority ratio (e.g., 1/4, 1/7)
        - delete_ratio: direct % to delete from skew_class
        """

        df = self.df.copy()
        cls_counts = df[self.target_col].value_counts()

        if skew_class not in cls_counts:
            raise ValueError(f"{skew_class} not found in dataset.")

        # Option 1: If delete_ratio is given → direct deletion
        if delete_ratio is not None:
            remove_n = int(cls_counts[skew_class] * delete_ratio)
            keep_n = cls_counts[skew_class] - remove_n

        # Option 2: If target_ratio is given → calculate needed deletions
        elif target_ratio is not None:
            majority_class = cls_counts.idxmax()
            majority_count = cls_counts.max()

            desired_minority = int(majority_count * target_ratio)
            keep_n = max(desired_minority, 1)  # avoid zero

        else:
            raise ValueError("Provide either target_ratio OR delete_ratio.")

        # Perform skewed deletion
        new_parts = []
        for cls, group in df.groupby(self.target_col):
            if cls == skew_class:
                keep_group = group.sample(keep_n, random_state=42)
            else:
                keep_group = group
            new_parts.append(keep_group)

        return pd.concat(new_parts).reset_index(drop=True)


  def generate_all(self, mild_ratio=1/4, high_ratio=1/7, skew_class=None):
        """
        Returns:
        Normal dataset
        Mild skew dataset
        High skew dataset
        """
        normal = self.df.copy()
        mild = self.skew(skew_class, target_ratio=mild_ratio)
        high = self.skew(skew_class, target_ratio=high_ratio)

        return normal, mild, high

In [14]:
sim = RowDeletionSimulator(df, target_col="Label")

In [21]:
strat_res=sim.stratified(delete_ratio=0.5)
skew_res = sim.skew(0,0.25)
normal, mild, high = sim.generate_all(
    mild_ratio=1/4,
    high_ratio=1/7,
    skew_class=1
)
print(strat_res)
print(skew_res)
print(mild)
print(high)

     Label                                             SMILES  BalabanJ  \
0        0    Nc1nc(CC(=O)Nc2ccc(CCNC[C@H](O)c3ccccc3)cc2)cs1     1.384
1        0                                  CN(C)C(=N)N=C(N)N     3.928
2        0  CC[C@@H]1\C=C(\C)/C[C@H](C)C[C@H](OC)[C@H]2O[C...     1.764
3        0  CC1(C)O[C@@H]2C[C@@H]3[C@@H]4C[C@H](F)C5=CC(=O...     1.660
4        0   Clc1ccc([C@@H]2CS\C(=C(\C#N)/n3ccnc3)\S2)c(Cl)c1     1.899
..     ...                                                ...       ...
233      1                       Nc1nnc(c(N)n1)c2cccc(Cl)c2Cl     2.633
234      1                    COCCc1ccc(OC[C@H](O)CNC(C)C)cc1     2.286
235      1   CCN[C@@H]1C[C@H](C)S(=O)(=O)c2sc(cc12)S(=O)(=O)N     2.645
236      1  COc1ccc2nccc([C@@H](O)[C@@H]3C[C@@H]4CCN3C[C@@...     1.687
237      1             CN1CCN(CCCN2c3ccccc3Sc4ccc(Cl)cc24)CC1     1.493

      BertzCT    Chi0   Chi0n   Chi0v    Chi1   Chi1n   Chi1v  ...  \
0     880.936  19.769  15.468  16.284  13.597   9.123  10.003  ...
1     131.893   7.439   5.549   5.549   4.037   2.393   2.393  ...
2    1435.820  41.482  35.039  35.795  26.483  20.737  21.173  ...
3     960.136  23.483  18.731  18.731  14.765  11.251  11.251  ...
4     735.173  14.820  10.663  13.807  10.186   6.059   8.680  ...
..        ...     ...     ...     ...     ...     ...     ...  ...
233   543.418  11.707   7.984   9.496   7.592   4.294   5.050  ...
234   337.749  14.088  12.056  12.056   9.113   6.736   6.736  ...
235   690.357  14.422  10.581  13.031   8.675   5.814   9.723  ...
236   760.387  16.681  14.059  14.059  11.707   8.683   8.683  ...
237   743.471  17.225  14.619  16.191  12.204   8.954  10.149  ...

     fr_sulfide  fr_sulfonamd  fr_sulfone  fr_term_acetylene  fr_tetrazole  \
0             0             0           0                  0             0
1             0             0           0                  0             0
2             0             0           0                  0             0
3             0             0           0                  0             0
4             2             0           0                  0             0
..          ...           ...         ...                ...           ...
233           0             0           0                  0             0
234           0             0           0                  0             0
235           0             1           1                  0             0
236           0             0           0                  0             0
237           0             0           0                  0             0

     fr_thiazole  fr_thiocyan  fr_thiophene  fr_unbrch_alkane  fr_urea
0              1            0             0                 1        0
1              0            0             0                 0        0
2              0            0             0                 0        0
3              0            0             0                 0        0
4              0            0             0                 0        0
..           ...          ...           ...               ...      ...
233            0            0             0                 0        0
234            0            0             0                 0        0
235            0            0             1                 0        0
236            0            0             0                 0        0
237            0            0             0                 0        0

[238 rows x 198 columns]
     Label                                             SMILES  BalabanJ  \
0        0  CC(C)(C)NC(=O)[C@@H]1CC[C@@H]2[C@@H]3CC[C@@H]4...     1.580
1        0  C[C@H](\C=C\[C@H](C)C(C)(C)O)[C@H]1CC[C@H]2\C(...     1.725
2        0                      C[C@H](N)C12CC3CC(CC(C3)C1)C2     1.911
3        0                     CNCC[C@@H](Oc1ccccc1C)c2ccccc2     2.168
4        0    CCN1CCC[C@@H]1CNC(=O)c2cc(c(N)cc2OC)S(=O)(=O)CC     2.241
..     ...                                                ...       ...
202      1                             CC(C)(S)[C@H](N)C(=O)O     4.040
203      1  COCc1c(nc(C(C)C)c(\C=C\[C@H](O)C[C@H](O)CC(=O)...     2.687
204      1             CN1CCN(CCCN2c3ccccc3Sc4ccc(Cl)cc24)CC1     1.493
205      1  CO\N=C(/C(=O)N[C@H]1[C@H]2SCC(=C(N2C1=O)C(=O)O...     1.766
206      1  CCC[C@@]1(CCc2ccccc2)CC(=C([C@H](CC)c3cccc(c3)...     1.617

      BertzCT    Chi0   Chi0n   Chi0v    Chi1   Chi1n   Chi1v  ...  \
0     678.356  19.613  17.601  17.601  12.544  10.862  10.862  ...
1     670.712  22.104  19.772  19.772  14.003  12.157  12.157  ...
2     183.880   9.052   8.629   8.629   6.178   5.934   5.934  ...
3     495.625  13.502  11.596  11.596   9.309   6.728   6.728  ...
4     733.654  18.613  15.040  15.857  11.834   8.561  10.213  ...
..        ...     ...     ...     ...     ...     ...     ...  ...
202   118.617   7.655   5.457   6.352   3.854   2.562   3.009  ...
203   969.638  24.706  19.878  19.878  15.544  11.123  11.123  ...
204   743.471  17.225  14.619  16.191  12.204   8.954  10.149  ...
205   910.031  21.129  14.986  15.802  13.845   8.129   9.178  ...
206  1565.385  30.545  23.226  24.043  19.871  13.658  15.098  ...

     fr_sulfide  fr_sulfonamd  fr_sulfone  fr_term_acetylene  fr_tetrazole  \
0             0             0           0                  0             0
1             0             0           0                  0             0
2             0             0           0                  0             0
3             0             0           0                  0             0
4             0             0           1                  0             0
..          ...           ...         ...                ...           ...
202           0             0           0                  0             0
203           0             0           0                  0             0
204           0             0           0                  0             0
205           1             0           0                  0             0
206           0             0           0                  0             0

     fr_thiazole  fr_thiocyan  fr_thiophene  fr_unbrch_alkane  fr_urea
0              0            0             0                 0        0
1              0            0             0                 0        0
2              0            0             0                 0        0
3              0            0             0                 0        0
4              0            0             0                 0        0
..           ...          ...           ...               ...      ...
202            0            0             0                 0        0
203            0            0             0                 0        0
204            0            0             0                 0        0
205            0            0             0                 0        0
206            0            0             0                 0        0

[207 rows x 198 columns]
     Label                                             SMILES  BalabanJ  \
0        0  COC(=O)N(C)c1c(N)nc(nc1N)c2nn(Cc3ccccc3F)c4ncc...     1.821
1        0                    C[C@H](N(O)C(=O)N)c1cc2ccccc2s1     2.363
2        0                              C[N+](C)(C)CC(=O)[O-]     3.551
3        0  CC(C)c1nc(CN(C)C(=O)N[C@H](CCN2CCOCC2)C(=O)N[C...     1.277
4        0  CCOC(=O)C1=C(C)NC(=C([C@@H]1c2cccc(Cl)c2Cl)C(=...     2.739
..     ...                                                ...       ...
443      1  C[C@H](N[C@@H](CCc1ccccc1)C(=O)O)C(=O)N2[C@H]3...     1.648
444      1  COc1cc2N(C=C(C(=O)O)C(=O)c2cc1Cc3cccc(Cl)c3F)[...     2.322
445      1    Cc1cc(cc(C)c1Oc2nc(Nc3ccc(cc3)C#N)nc(N)c2Br)C#N     1.940
446      1                 C[C@H](CN1c2ccccc2Sc3ccccc13)N(C)C     2.032
447      1                    Cc1onc(NS(=O)(=O)c2ccc(N)cc2)c1     2.277

      BertzCT    Chi0   Chi0n   Chi0v    Chi1   Chi1n   Chi1v  ...  \
0    1266.407  22.121  16.781  16.781  14.901   9.203   9.203  ...
1     490.434  11.707   8.752   9.569   7.592   4.854   5.670  ...
2      93.092   6.784   5.471   5.471   3.417   2.420   2.420  ...
3    1701.679  38.125  31.447  33.080  26.212  18.664  20.423  ...
4     783.281  18.723  14.405  15.917  11.828   7.709   8.464  ...
..        ...     ...     ...     ...     ...     ...     ...  ...
443   722.766  20.259  16.083  16.083  13.380   9.959   9.959  ...
444  1204.772  22.870  17.355  18.111  14.688   9.719  10.097  ...
445  1106.154  20.259  15.117  16.703  13.405   8.204   8.997  ...
446   563.944  14.113  12.206  13.022   9.665   6.965   7.781  ...
447   616.501  12.466   9.044   9.861   7.971   4.789   6.272  ...

     fr_sulfide  fr_sulfonamd  fr_sulfone  fr_term_acetylene  fr_tetrazole  \
0             0             0           0                  0             0
1             0             0           0                  0             0
2             0             0           0                  0             0
3             0             0           0                  0             0
4             0             0           0                  0             0
..          ...           ...         ...                ...           ...
443           0             0           0                  0             0
444           0             0           0                  0             0
445           0             0           0                  0             0
446           0             0           0                  0             0
447           0             1           0                  0             0

     fr_thiazole  fr_thiocyan  fr_thiophene  fr_unbrch_alkane  fr_urea
0              0            0             0                 0        0
1              0            0             1                 0        1
2              0            0             0                 0        0
3              2            0             0                 0        1
4              0            0             0                 0        0
..           ...          ...           ...               ...      ...
443            0            0             0                 0        0
444            0            0             0                 0        0
445            0            0             0                 0        0
446            0            0             0                 0        0
447            0            0             0                 0        0

[448 rows x 198 columns]
     Label                                             SMILES  BalabanJ  \
0        0  COC(=O)N(C)c1c(N)nc(nc1N)c2nn(Cc3ccccc3F)c4ncc...     1.821
1        0                    C[C@H](N(O)C(=O)N)c1cc2ccccc2s1     2.363
2        0                              C[N+](C)(C)CC(=O)[O-]     3.551
3        0  CC(C)c1nc(CN(C)C(=O)N[C@H](CCN2CCOCC2)C(=O)N[C...     1.277
4        0  CCOC(=O)C1=C(C)NC(=C([C@@H]1c2cccc(Cl)c2Cl)C(=...     2.739
..     ...                                                ...       ...
405      1  CCOC(=O)[C@H](CCc1ccccc1)N[C@H](C)C(=O)N2[C@@H...     1.696
406      1  CC[C@H](C)[C@@H]1NC(=O)[C@H](Cc2ccc(O)cc2)NC(=...     2.022
407      1                        CC(=O)NS(=O)(=O)c1ccc(N)cc1     3.047
408      1    Clc1cccc(N2CCN(CCCCOc3ccc4CCC(=O)Nc4c3)CC2)c1Cl     1.154
409      1  CC(C)CN(C[C@@H](O)[C@H](Cc1ccccc1)NC(=O)O[C@H]...     1.505

      BertzCT    Chi0   Chi0n   Chi0v    Chi1   Chi1n   Chi1v  ...  \
0    1266.407  22.121  16.781  16.781  14.901   9.203   9.203  ...
1     490.434  11.707   8.752   9.569   7.592   4.854   5.670  ...
2      93.092   6.784   5.471   5.471   3.417   2.420   2.420  ...
3    1701.679  38.125  31.447  33.080  26.212  18.664  20.423  ...
4     783.281  18.723  14.405  15.917  11.828   7.709   8.464  ...
..        ...     ...     ...     ...     ...     ...     ...  ...
405   768.493  22.380  18.458  18.458  14.918  11.435  11.435  ...
406  1960.099  50.120  38.204  39.837  31.516  21.952  24.440  ...
407   436.159  10.768   7.520   8.336   6.416   3.806   5.289  ...
408   898.012  20.924  17.002  18.514  14.597  10.569  11.325  ...
409  1160.954  27.286  21.732  22.549  18.129  12.912  14.352  ...

     fr_sulfide  fr_sulfonamd  fr_sulfone  fr_term_acetylene  fr_tetrazole  \
0             0             0           0                  0             0
1             0             0           0                  0             0
2             0             0           0                  0             0
3             0             0           0                  0             0
4             0             0           0                  0             0
..          ...           ...         ...                ...           ...
405           0             0           0                  0             0
406           0             0           0                  0             0
407           0             1           0                  0             0
408           0             0           0                  0             0
409           0             1           0                  0             0

     fr_thiazole  fr_thiocyan  fr_thiophene  fr_unbrch_alkane  fr_urea
0              0            0             0                 0        0
1              0            0             1                 0        1
2              0            0             0                 0        0
3              2            0             0                 0        1
4              0            0             0                 0        0
..           ...          ...           ...               ...      ...
405            0            0             0                 0        0
406            0            0             0                 0        0
407            0            0             0                 0        0
408            0            0             0                 2        0
409            0            0             0                 0        0

[410 rows x 198 columns]